[ssl]
certfile = ~/SelfSignedSSL/jks/rootca/rootca.crt
; Optional, true by default.
validate = false
userkey = ~/SelfSignedSSL/jks/cqlsh/cqlsh_<Node.IP.with.Hyphen>.key
usercert = ~/SelfSignedSSL/jks/cqlsh/cqlsh_<Node.IP.with.Hyphen>.crt.signed

[certfiles]
; Optional section, overrides the default certfile in the [ssl] section.
<Node1.IP> = ~/SelfSignedSSL/jks/cqlsh/cqlsh_<Node1.IP.with.Hyphen>.crt.signed
<Node2.IP> = ~/SelfSignedSSL/jks/cqlsh/cqlsh_<Node2.IP.with.Hyphen>.crt.signed
